openapi: 3.0.3
info:
  title: Aegaia Risk API
  version: "1.0.0"
  description: |
    Private API for location-level climate & hazard risk indicators in Canada.
servers:
  - url: https://api.aegaia.com
paths:
  /:
    post:
      summary: Get risk indicators for a Canadian address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [Address]
              properties:
                Address:
                  type: string
                  description: Full Canadian address
            examples:
              minimal:
                value: { Address: "301 Chaplin Crescent Toronto M5P1B1 ON" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Address: { type: string }
                  FireRiskScore: { type: number, format: float, minimum: 0, maximum: 1 }
                  FloodRiskScore: { type: number, format: float, minimum: 0, maximum: 1 }
                  HeatRiskScore: { type: number, format: float, minimum: 0, maximum: 1 }
                  WindRiskScore: { type: number, format: float, minimum: 0, maximum: 1 }
                  Latitude: { type: number, format: float }
                  Longitude: { type: number, format: float }
                  MatchConfidence: { type: number, format: float, minimum: 0, maximum: 100 }
                  Municipality: { type: string }
                  PostalCode: { type: string }
                  Province: { type: string }
